<%- include('header') -%>
<div class="container">
    <div class="row  justify-content-md-center">
        <div class="col-md-auto align-self-center offset-sm-2">
            <h1>
                Hajó 
                <% if(typeof ship === 'undefined') { %>
                    létrehozás
                <%} else {%>
                    módosítás
                <% } %>             
                </h1>
        </div>
    </div>
        <div class="row">  
            <form method="POST" class="justify-content-md-center">
                <div class="mb-3 row form-group justify-content-md-center">
                    <label for="Name" class="col-sm-2 col-form-label h3" style="text-align: end;">Name</label>
                    <div class="col-sm-3">
                        <input type="text" required class="form-control" id="name" name="name" aria-describedby="Name" 
                            value="<%= (typeof ship === 'undefined') ? '' : ship.name %>">  
                    </div>                      
                </div>
                <div class="mb-3 row form-group justify-content-md-center">
                    <label for="LastPort" class="col-sm-2 col-form-label h3" style="text-align: end;">LastPort</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="lastport" name="lastport" aria-describedby="LastPort"
                            value="<%= (typeof ship === 'undefined') ? '' : ship.lastport %>">  
                    </div> 
                </div>
                <div class="mb-3 row form-group justify-content-md-center">
                    <label for="NumberOfCannons"class="col-sm-2 col-form-label h3" style="text-align: end;">Number of cannons</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="cannons" name="cannons" min="0" aria-describedby="NumberOfCannons"
                            value="<%= (typeof ship === 'undefined') ? '0' : ship.cannons %>">  
                    </div> 
                </div>
                <div class="row justify-content-md-center offset-sm-2 ">
                    <input type="submit" class="btn btn-primary col-sm-2 mr-3" value="Save and Back" />
                    <a href="/" type="back" class="btn btn-primary col-sm-1 mx-3">Back</a>
                </div>
            </form>        
        </div> 
    </div>  
</div>
<%- include('footer') -%>
